body {
    /* Location of the image */
  background-image: url("../img/fondo.jpg");
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
  
}
div.transparente{
    margin: 30px;
    background-color:#d9ff66;
    border: 1px;
    padding: 5px;
    opacity: 0.2;
}
div.transparente p{
    margin: 5%;
  font-weight: bold;
  color: #000000;
}

.mySlides{
    display: none;
}
header{
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	/*position: fixed; /* Hacemos que la cabecera tenga una posición fija */
  }

.img{
    display: none;
    width: 100%;
    /*padding: 5px;*/
}
.mydiv{
    position:absolute;
    left:50%;
    top: 20%;
    width:400px;
    /*indicamos que el margen izquierdo, es la mitad de la anchura*/
    margin-left:-200px;
    /*determinamos una altura*/
    height:100px;
    /*indicamos que el margen superior, es la mitad de la altura*/
    
    
}
#audio{
    display: none;
}
.sorpresa{
    display: none;
}
.hit-the-floor {
    color:   yellow;
    font-size: 4em;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 
      0 1px 0 rgb(10, 10, 10), 
      0 2px 0 #111111, 
      0 3px 0 rgb(19, 18, 18), 
      0 4px 0 #0c0b0b, 
      0 5px 0 rgb(17, 17, 17), 
      0 6px 1px rgba(0,0,0,.1), 
      0 0 5px rgba(0,0,0,.1), 
      0 1px 3px rgba(0,0,0,.3), 
      0 3px 5px rgba(0,0,0,.2), 
      0 5px 10px rgba(0,0,0,.25), 
      0 10px 10px rgba(0,0,0,.2), 
      0 20px 20px rgba(0,0,0,.15);
  }
  
  .hit-the-floor {
    text-align: center;
  }
.text-carta{
  font-style: italic;
  font-size: 18px;
  
}